/* globalna */

body {
  font-family: Roboto, Raleway, sans-serif;
  color: #212121;
  background-color: #fff
}

* {
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ROOTS */
/* index roots */
:root {
  --index-main-color: #2196f3;
}

:root {
  --index-dulled-color: #757575;
}

:root {
  --index-bright-font-color: #fff;
}

:root {
  --index-main-bg-color: #2f303a;
}

:root {
  --index-alpha-font-color: rgba(255, 255, 255, 0.6);
}

/* H-E-A-D-E-R */
.top-logo {
  color: inherit;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.192em;
  font-family: Raleway;
}

.top-web {
  color: var(--index-main-color);
}

.nav {
  font-size: 14px;
  line-height: 1.14em;
  font-weight: 500;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.142em;
  text-decoration: none;
  text-decoration: none;
  color: inherit;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--index-main-color);
}

.header-contact a {
  font-size: 14px;
  line-height: 1.14em;
  color: var(--index-dulled-color);
  text-decoration: none;
}

.header-contact a:hover,
.header-contact a:focus {
  color: var(--index-main-color);
}

/* F-O-O-T-E-R */
.bottom-logo {
  color: var(--index-bright-font-color);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.192em;
  font-family: Raleway;
}

.bottom-web {
  color: var(--index-main-color);
}

.footer {
  background-color: var(--index-main-bg-color);
}

.address {
  color: var(--index-bright-font-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714em;
}

.footer-contact a {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714em;
  color: var(--index-alpha-font-color);
  text-decoration: none;
}

.footer-contact a:hover,
.footer-contact a:focus {
  color: var(--index-main-color);
}

.footer-contact li:first-child {
  text-decoration: underline;
}

/* I-N-D-E-X */
/* INDEX MAIN TOP */

.index-main-header {
  background-color: var(--index-main-bg-color);
}

.index-h1 {
  font-weight: 700;
  font-size: 44px;
  color: var(--index-bright-font-color);
  line-height: 1.36em;
}

.index-main-button {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.875em;
  font-weight: 700;
  color: var(--index-bright-font-color);
  background-color: var(--index-main-color);
}

/* INDEX MAIN MIDDLE */

.lorem-list h3 {
  font-size: 14px;
  line-height: 1.142em;
}

.lorem-list p {
  font-size: 14px;
  line-height: 1.714em;
  color: var(--index-dulled-color);
}

.index-about > h2 {
  font-size: 36px;
  line-height: 1.166em;
}

.team {
  background-color: #f5f4fa;
}

.team > h2 {
  font-size: 36px;
  line-height: 1.166em;
}

.team h3 {
  font-size: 16px;
  line-height: 1.1875em;
}

.team p {
  font-size: 16px;
  line-height: 1.1875em;
  color: var(--index-dulled-color);
}

/* P-O-R-T-F-O-L-I-O */
/* ROOTS */
:root {
  --portfolio-main-color: #2196f3;
}

:root {
  --portfolio-dulled-color: #757575;
}

:root {
  --portfolio-button-bg: #f5f4fa;
}

:root {
  --portfolio-bright-font-color: #ffffff;
}

:root {
  --portfolio-alpha-font-color: rgba(255, 255, 255, 0.6);
}


/* PORTFOLIO MAIN TOP */

.portfolio-button {
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.625em;
  background-color: var(--portfolio-button-bg);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--portfolio-bright-font-color);
  background-color: var(--portfolio-main-color);
}

/* PORTFOLIO IMAGES */

.portfolio-images h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}

.portfolio-images p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875em;
  color: var(--portfolio-dulled-color);
}