
/* Czcionka globalna */

body {
  font-family: Roboto, Raleway, sans-serif;
  color: #212121;
}


/* I-N-D-E-X */
/* ROOTS */

:root {
  --index-main-color: #2196f3;
}

:root {
  --index-dulled-color: #757575;
}

:root {
    --index-bright-font-color: #FFFFFF;
}

:root {
    --index-main-bd-color: #2F303A}

:root {
      --index-alpha-font-color: rgba(255, 255, 255, 0.6);
  }


/* INDEX HEADER */


.index-top-logo {
  color: inherit;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.192em;
  font-family: Raleway;
}

.index-top-web {
  color: var(--index-main-color);
}

.index-nav {
  font-size: 14px;
  line-height: 1.14em;
  font-weight: 500;
}

.index-nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.142em;
  text-decoration: none;
  text-decoration: none;
  color: inherit;
}

.index-nav-link:hover,
.index-nav-link:focus {
  color: var(--index-main-color);
}

.index-header-contacts a {
  font-size: 14px;
  line-height: 1.14em;
  color: var(--index-dulled-color);
  text-decoration: none;
}

.index-header-contacts a:hover,
.index-header-contacts a:focus {
  color: var(--index-main-color);
}

/* INDEX MAIN TOP */

.index-main-header {
    background-color: var(--index-main-bd-color);
}

.index-h1 {
    font-weight: 700;
    font-size: 44px;
    color: var(--index-bright-font-color);
    line-height: 1.36em;
}

.index-main-button {
    cursor: pointer;
    font-size: 16px;
    line-height: 1.875em;
    font-weight: 700;
    color: var(--index-bright-font-color);
    background-color: var(--index-main-color);
}


/* INDEX MAIN MIDDLE */

.index-loremipsum h3 {
  font-size: 14px;
  line-height: 1.142em;
}

.index-loremipsum p {
  font-size: 14px;
  line-height: 1.714em;
  color: var(--index-dulled-color);
}
  
.index-about > h2 {
    font-size: 36px;
    line-height: 1.166em;
}

.index-team{
  background-color: #F5F4FA;;
}

.index-team>h2 {
  font-size: 36px;
  line-height: 1.166em;
}

.index-team h3 {
  font-size: 16px;
  line-height: 1.1875em;
}

.index-team p {
  font-size: 16px;
  line-height: 1.1875em;
  color: var(--index-dulled-color);
}


/* INDEX FOOTER */

.index-footer {
  background-color: var(--index-main-bd-color);
}

.index-bottom-logo {
  color: var(--index-bright-font-color);
  text-decoration: none;
  font-size: 26px;
  line-height: 1.192em;
  font-family: Raleway;
}

.index-bottom-web {
  color: var(--index-main-color);
}

.index-address {
  color: var(--index-bright-font-color);
  font-size: 14px;
  line-height: 1.714em;
}

.index-footer-contacts a {
  font-size: 14px;
  line-height: 1.714em;
  color: var(--index-alpha-font-color);
  text-decoration: none;
}

.index-footer-contacts a:hover,
.index-footer-contacts a:focus {
  color: var(--index-main-color);
}

/* P-O-R-T-F-O-L-I-O */
/* ROOTS */

:root {
    --portfolio-main-color: #2196f3;
  }
  
  :root {
    --portfolio-dulled-color: #757575;
  }


/* PORTFOLIO HEADER */


.portfolio-top-logo {
    color: inherit;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.192em;
    font-family: Raleway;
  }
  
  .portfolio-top-web {
    color: var(--portfolio-main-color);
  }
  
  .portfolio-nav {
    font-size: 14px;
    line-height: 1.14em;
    font-weight: 500;
  }
  
  .portfolio-nav-link {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.142em;
    text-decoration: none;
    text-decoration: none;
    color: inherit;
  }
  
  .portfolio-nav-link:hover,
  .portfolio-nav-link:focus {
    color: var(--portfolio-main-color);
  }
  
  .portfolio-header-contacts a {
    font-size: 14px;
    line-height: 1.14em;
    color: var(--portfolio-dulled-color);
    text-decoration: none;
  }
  
  .portfolio-header-contacts a:hover,
  .portfolio-header-contacts a:focus {
    color: var(--portfolio-main-color);
  }
  