/* globalna */

body {
  font-family: Roboto, Raleway, sans-serif;
  color: #212121;
  background-color: #fff;
}

* {
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}
/* ROOTS */
/* index roots */
:root {
  --index-main-color: #2196f3;

  --index-dulled-color: #757575;

  --index-bright-font-color: #fff;

  --index-main-bg-color: #2f303a;

  --index-alpha-font-color: rgba(255, 255, 255, 0.6);
}

/* H-E-A-D-E-R */

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  padding: 25px 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header-nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin-left: -46px;
}

.nav-item {
  margin-left: 46px;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin-left: -50px;
}

.header-contact-item {
  margin-left: 50px;
}

.header-contact-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17em;
  letter-spacing: 0.02em;
  color: var(--index-dulled-color);
}

.top-logo {
  color: inherit;
  font-size: 26px;
  line-height: 1.19em;
  font-family: Raleway;
  margin-right: 93px;
  font-weight: 700;
  letter-spacing: 0.03em;
}

.top-web {
  color: var(--index-main-color);
}

.header-contact-link:hover,
.header-contact-link:active,
.header-contact-link:focus,
.header-nav-link:hover,
.header-nav-link:active,
.header-nav-link:focus {
  color: var(--index-main-color);
}

/* F-O-O-T-E-R */
.bottom-logo {
  display: inline-block;
  color: var(--index-bright-font-color);
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-weight: 700;
  margin-bottom: 20px;
}

.bottom-web {
  color: var(--index-main-color);
}

.footer {
  background-color: var(--index-main-bg-color);
  color: #fff;
  padding: 60px 0;
}

.footer-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-weight: 400;
  list-style-type: none;
  color: #fff;
  margin-bottom: 9px;
}

.footer-text:last-child {
  margin-bottom: 0;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: rgba(255, 255, 255, 1);
}

/* I-N-D-E-X */
/* INDEX MAIN TOP */

.index-main-header {
  background-color: var(--index-main-bg-color);
  color: #fff;
  text-align: center;
  padding: 200px 0;
}

.index-h1 {
  font-weight: 900;
  font-size: 44px;
  color: var(--index-bright-font-color);
  line-height: 1.36em;
  max-width: 696px;
  margin: 0 auto 30px;
  letter-spacing: 0.06em;
}

.index-main-button {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.875em;
  font-weight: 700;
  color: var(--index-bright-font-color);
  background-color: var(--index-main-color);
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  padding: 10px 42px;
  border-radius: 4px;
}

.index-main-button:hover,
.index-main-button:active {
  background-color: var(--index-main-color);
  color: #fff;
}

/* INDEX MAIN MIDDLE */

.lorem-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  padding-bottom: 94px;
}

.lorem-item {
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 270px;
}

.lorem-head {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.lorem-body {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
  color: var(--index-dulled-color);
}

.about-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.about-item {
  list-style-type: none;
  margin-bottom: 30px;
  margin-left: 30px;
}

.about-item-image {
  min-width: 370px;
  display: block;
}

.team {
  background-color: #f5f4fa;
}

.team-head {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.team-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.team-item {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.team-image {
  min-width: 270px;
  display: block;
}

.team-image-head {
  padding-top: 30px;
  margin-bottom: 10px;
}

.team-image-text {
  padding-bottom: 30px;
  color: var(--index-dulled-color);
}

/* P-O-R-T-F-O-L-I-O */
/* ROOTS */
:root {
  --portfolio-main-color: #2196f3;
}

:root {
  --portfolio-dulled-color: #757575;
}

:root {
  --portfolio-button-bg: #f5f4fa;
}

:root {
  --portfolio-bright-font-color: #ffffff;
}

:root {
  --portfolio-alpha-font-color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO MAIN BUTTONS */

.portfolio-button-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -8px;
  padding-bottom: 50px;
}

.portfolio-button-item {
  margin-left: 8px;
  margin-bottom: 8px;
}

.portfolio-button {
  background-color: var(--portfolio-button-bg);
  border: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 1.625em;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:active,
.portfolio-button:focus {
  background-color: var(--index-main-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* PORTFOLIO IMAGES */

.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  justify-content: center;
}

 .portfolio-list-item {
  background-color: #fff;
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 370px;
}

.portfolio-list-item figcaption {
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.portfolio-list-image {
  display: block;
}

.portfolio-list-item h3 {
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px 24px;
}

.portfolio-list-item p {
  line-height: 1.875em;
  color: #757575;
  padding: 0px 24px 20px 24px;
}